[submodule "vendor/FastAPI"]
	path = vendor/FastAPI
	url = https://github.com/fastapi/fastapi.git
[submodule "vendor/Python-100-Days"]
	path = vendor/Python-100-Days
	url = https://github.com/ccwanggl/Python-100-Days.git
[submodule "vendor/crawl4ai"]
	path = vendor/crawl4ai
	url = https://github.com/unclecode/crawl4ai.git
[submodule "vendor/scientific-python-lectures"]
	path = vendor/scientific-python-lectures
	url = https://github.com/ccwanggl/scientific-python-lectures.git
[submodule "vendor/ultimate-python"]
	path = vendor/ultimate-python
	url = https://github.com/huangsam/ultimate-python.git
